<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST" action="">
        <% data.forEach(function(item){ %>

              <h4> Question <%=item.id%> : <%= item.Question %> </h4>
              <input type="radio" name="<%= item.id%>" value = "<%= item.optA %>" /> <%= item.optA %> <br>
              <input type="radio" name="<%= item.id%>" value = "<%= item.optB %>" /> <%= item.optB %> <br>
              <input type="radio" name="<%= item.id%>" value = "<%= item.optC %>" /> <%= item.optC %> <br>
              <input type="radio" name="<%= item.id%>" value = "<%= item.optD %>" /> <%= item.optD %> <br>

      <%  }) %>
      <br>
        <button type="submit" name="button">submit</button>
    </form>
  </body>
</html>
